
canvas {
    background: #000000;
    display: block;
    margin: 0 auto;
}

h4 {
    color: green;
}

html, body {
    background-color: black;
    color: white;
    font-family: helvetica, arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    padding: 20px 5%;
}

section {
    background-color: #171717;
}

h1, h2 {
    line-height: 1;
    text-transform: uppercase;
}

h2 {
    margin-top: 40px;
}

h2:first-of-type {
    margin-top: 20px;
}

.logo {
    display: block;
}

img {
    height: auto;
    max-width: 100%;
}

.logo img {
    width: 500px;
}
